<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NoClassDefFoundError</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.ttil.util.UserDefineException</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ApplicationIndexServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationIndexServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationIndexServlet</servlet-name>
    <url-pattern>/applicationIndex</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ApplicationAfterIndexServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationAfterIndexServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationAfterIndexServlet</servlet-name>
    <url-pattern>/applicationAfterIndex</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ApplicationInstructions</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationInstructionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationInstructions</servlet-name>
    <url-pattern>/applicationInstructions</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ApplicationForm</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationForm</servlet-name>
    <url-pattern>/applicationForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ApplicationPreview</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationPreviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationPreview</servlet-name>
    <url-pattern>/applicationPreview</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>ApplicationSave</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationSave</servlet-name>
    <url-pattern>/applicationSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationAfterSave</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationAfterSaveServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationAfterSave</servlet-name>
    <url-pattern>/applicationAfterSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Acknowledgement</servlet-name>
    <servlet-class>com.ttil.servlet.AcknoweledgementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acknowledgement</servlet-name>
    <url-pattern>/acknowledgement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintChallan</servlet-name>
    <servlet-class>com.ttil.servlet.PrintChallanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintChallan</servlet-name>
    <url-pattern>/printChallan</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchApplication</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationBeforeSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchApplication</servlet-name>
    <url-pattern>/searchApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationSearch</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationSearch</servlet-name>
    <url-pattern>/applicationSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationSearchPreview</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationSearchPreviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationSearchPreview</servlet-name>
    <url-pattern>/applicationSearchPreview</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>com.ttil.servlet.UploadPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/uploadPhoto</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PrivacyPolicyServlet</servlet-name>
    <servlet-class>com.ttil.servlet.PrivacyPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivacyPolicyServlet</servlet-name>
    <url-pattern>/policy</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SBISuccessServlet</servlet-name>
    <servlet-class>com.ttil.servlet.SBISuccessServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBISuccessServlet</servlet-name>
    <url-pattern>/sbisuccess</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SBIFailServlet</servlet-name>
    <servlet-class>com.ttil.servlet.SBIFailServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBIFailServlet</servlet-name>
    <url-pattern>/sbifail</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>HDFCSuccessServlet</servlet-name>
    <servlet-class>com.ttil.servlet.HDFCSuccessServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>HDFCSuccessServlet</servlet-name>
    <url-pattern>/paymentsuccess</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>HDFCFailServlet</servlet-name>
    <servlet-class>com.ttil.servlet.HDFCFailServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>HDFCFailServlet</servlet-name>
    <url-pattern>/paymentfail</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>PaymentGatewayServlet</servlet-name>
    <servlet-class>com.ttil.servlet.PaymentGatewayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentGatewayServlet</servlet-name>
    <url-pattern>/paymentgateway</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>SBIPaymentIndexServlet</servlet-name>
    <servlet-class>com.ttil.servlet.SBIPaymentIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBIPaymentIndexServlet</servlet-name>
    <url-pattern>/paymentpage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForgotPasswordPageServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ForgotPasswordPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordPageServlet</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ForgotPasswordServlet</servlet-class>
     <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/retrievePassword</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ApplicationHomeServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationHomeServlet</servlet-name>
    <url-pattern>/applicationHome</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SBIPaymentGatewayServlet</servlet-name>
    <servlet-class>com.ttil.servlet.SBIPaymentGatewayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBIPaymentGatewayServlet</servlet-name>
    <url-pattern>/sbipaymentgateway</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SBISuccessDoubleServlet</servlet-name>
    <servlet-class>com.ttil.servlet.SBISuccessDoubleServlet</servlet-class>
     <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBISuccessDoubleServlet</servlet-name>
    <url-pattern>/sbisuccessDouble</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SBIPushResponseServlet</servlet-name>
    <servlet-class>com.ttil.servlet.SBIPushResponseServlet</servlet-class>
     <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBIPushResponseServlet</servlet-name>
    <url-pattern>/sbipushresponse</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PaymentGatewayDoubleServlet</servlet-name>
    <servlet-class>com.ttil.servlet.PaymentGatewayDoubleServlet</servlet-class>
     <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentGatewayDoubleServlet</servlet-name>
    <url-pattern>/sbipgdouble</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ApplicationAfterPaymentServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationAfterPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationAfterPaymentServlet</servlet-name>
    <url-pattern>/paymentSuccess</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForgotRegIdPageServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ForgotRegIdPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotRegIdPageServlet</servlet-name>
    <url-pattern>/forgotRegId</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForgotRegIdServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ForgotRegIdServlet</servlet-class>
     <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotRegIdServlet</servlet-name>
    <url-pattern>/retrieveRegId</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ShowCancelForm</servlet-name>
    <servlet-class>com.ttil.servlet.ShowCancelApplicationFormServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCancelForm</servlet-name>
    <url-pattern>/changePostPreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelApplicationForm</servlet-name>
    <servlet-class>com.ttil.servlet.CancelApplicationFormServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelApplicationForm</servlet-name>
    <url-pattern>/changePost</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>applicationFormEdit</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationFormEditServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>applicationFormEdit</servlet-name>
    <url-pattern>/applicationFormEdit</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ShowVerifyMobileServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ShowVerifyMobileEmailServlet</servlet-class>
     <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowVerifyMobileServlet</servlet-name>
    <url-pattern>/showVerificationForm</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>VerifyMobileServlet</servlet-name>
    <servlet-class>com.ttil.servlet.VerifyMobileEmailServlet</servlet-class>
   <!--  <load-on-startup>1</load-on-startup> -->
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyMobileServlet</servlet-name>
    <url-pattern>/verifymobile</url-pattern>
  </servlet-mapping>
  
 <!--   
  <servlet>
    <servlet-name>ApplicationOtp</servlet-name>
    <servlet-class>com.ttil.servlet.OTPServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationOtp</servlet-name>
    <url-pattern>/applicationOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintIndianBankChallanServlet</servlet-name>
    <servlet-class>com.ttil.servlet.PrintIndianBankChallanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintIndianBankChallanServlet</servlet-name>
    <url-pattern>/indianBankChallan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CallIVRServlet</servlet-name>
    <servlet-class>com.ttil.servlet.CallIVRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallIVRServlet</servlet-name>
    <url-pattern>/callIVR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FAQServlet</servlet-name>
    <servlet-class>com.ttil.servlet.FAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQServlet</servlet-name>
    <url-pattern>/faq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationSearchForOTPServlet</servlet-name>
    <servlet-class>com.ttil.servlet.ApplicationSearchForOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationSearchForOTPServlet</servlet-name>
    <url-pattern>/applicationSearchForOTP</url-pattern>
  </servlet-mapping>  -->
  <servlet>
    <servlet-name>SimpleCaptcha</servlet-name>
    <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    <init-param>
      <param-name>captcha-width</param-name>
      <param-value>400</param-value>
    </init-param>
    <init-param>
      <param-name>captcha-height</param-name>
      <param-value>150</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCaptcha</servlet-name>
    <url-pattern>/simpleCaptcha.png</url-pattern>
  </servlet-mapping>
  <distributable/>
  <session-config>
    <session-timeout>20</session-timeout>
     <cookie-config>
         <secure>true</secure>
     </cookie-config>
  </session-config>
</web-app>